@model NewDms.Models.Summary

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* <li class="nav-item">
    <a class="nav-link dropdown-toggle text-decoration-none  btn btn-primary text-light" style="width:fit-content;" data-bs-toggle="dropdown" role="button" aria-expanded="false">By State</a>

    <ul class="dropdown-menu shadow" id="sumryoptions">
        <li class="dropdown-item" id="ByState">By State</li>
        <li class="dropdown-item" id="ByWarehouse">By Warehouse</li>
        <li class="dropdown-item" id="ByCCM">By CCM</li>
    </ul>
</li> *@

    <a id="sum_options" class="nav-link dropdown-toggle text-decoration-none text-black" style="width:fit-content;font-size:20px;" data-bs-toggle="dropdown" asp-controller="Operation" asp-action="Dashboard" aria-expanded="false">Sate Wise</a>

    <ul class="dropdown-menu shadow" id="sumryoptions">
        <li class="dropdown-item" id="ByState">By State</li>
        <li class="dropdown-item" id="ByWarehouse">By Warehouse</li>
        <li class="dropdown-item" id="ByCCM">By CCM</li>
    </ul>

<div class="row" id="statewise" style="display:block;">

    <div class="col-lg-8">
        <table class="table table-bordered table-responsive-lg">
            <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">Sr.No.</th>
                    <th scope="col">State</th>
                    <th scope="col">Warehouse</th>
                    <th scope="col">Pendings</th>
                    <th scope="col">CCM</th>
                    <th scope="col">Attendance</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                    @foreach (var item in Model.statewise)
                    {
                        int stateRowCount = item.Warehouse.Sum(w => w.CCM.Count);
                        bool firstStateRow = true;

                        foreach (var warehouse in item.Warehouse)
                        {
                            int warehouseRowCount = warehouse.CCM.Count;
                            bool firstWarehouseRow = true;

                            foreach (var ccm in warehouse.CCM)
                            {
                                <tr>
                                    @if (firstStateRow)
                                    {
                                        <td rowspan="@stateRowCount">@i</td>
                                        <td rowspan="@stateRowCount"><b>@item.state</b></td>
                                        firstStateRow = false;
                                    }

                                    @if (firstWarehouseRow)
                                    {
                                        <td rowspan="@warehouseRowCount">@warehouse.warehouse_name</td>
                                        <td rowspan="@warehouseRowCount">@warehouse.pendings_approvals</td>
                                        firstWarehouseRow = false;
                                    }

                                    <td>@ccm.Name</td>
                                </tr>
                            }
                        }
                        i++;
                    }

                }

            </tbody>
        </table>
    </div>
</div>


<div class="row" id="warehousewise" style="display:none;">
    <div class="col-lg-8">
        <table class="table table-bordered table-responsive-lg">
            <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">Sr.No.</th>
                    <th scope="col">Warehouse</th>
                    <th scope="col">State</th>
                    <th scope="col">Pendings</th>
                    <th scope="col">CCM</th>
                    <th scope="col">Attendance</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int j = 0;
                    @foreach (var item in Model.warehousewise)
                    {
                        int stateRowCount = item.Warehouse.Sum(w => w.CCM.Count);
                        bool firstStateRow = true;

                        foreach (var warehouse in item.Warehouse)
                        {
                            int warehouseRowCount = warehouse.CCM.Count;
                            bool firstWarehouseRow = true;

                            foreach (var ccm in warehouse.CCM)
                            {
                                <tr>
                                    @if (firstStateRow)
                                    {
                                        <td rowspan="@stateRowCount">@j</td>
                                        <td rowspan="@stateRowCount"><b>@item.state</b></td>
                                        firstStateRow = false;
                                    }

                                    @if (firstWarehouseRow)
                                    {
                                        <td rowspan="@warehouseRowCount">@warehouse.warehouse_name</td>
                                        <td rowspan="@warehouseRowCount">@warehouse.pendings_approvals</td>
                                        firstWarehouseRow = false;
                                    }

                                    <td>@ccm.Name</td>
                                </tr>
                            }
                        }
                        j++;
                    }

                }

            </tbody>
        </table>
    </div>
</div>


<script>
        document.addEventListener("DOMContentLoaded", function () {

            // When "By State" is clicked
            document.getElementById("ByState").onclick = function () {
                document.getElementById("statewise").style.display = "block";
                document.getElementById("warehousewise").style.display = "none";
                   document.getElementById("sum_options").innerHTML="State Wise";
            };

        // When "By Warehouse" is clicked
        document.getElementById("ByWarehouse").onclick = function () {
            document.getElementById("statewise").style.display = "none";
        document.getElementById("warehousewise").style.display = "block";
         document.getElementById("sum_options").innerHTML="Warehouse Wise";
        };

        // When "By CCM" is clicked
        document.getElementById("ByCCM").onclick = function () {
            document.getElementById("statewise").style.display = "none";
        document.getElementById("warehousewise").style.display = "none";
         document.getElementById("sum_options").innerHTML="CCM Wise";
        };

    });
</script>
